@media (max-width: 767px) {

    .header {
        margin-top: 238.69px;
        margin-left: -104px;
        display: flex;
        align-items: center;
        margin-left: 16px;
    }

    .title {
        font-size: 32px;
        text-align: center;
        max-width: 343px;
    }

    .text {
        font-size: 14px;
        text-align: center;
        max-width: 343px;
    }

    .section__game {
        margin-left: -104px;
    }

    .section__season {
        margin-left: -104px;
        height: 653.61px;
    }

    .season__item {
        display: flex;
        align-items: center;
        margin-top: -48.44px;

    }

    .season__title {
        font-size: 32px;
        font-weight: 700;
    }

    .season__text {
        font-size: 14px;
        text-align: center;
        max-width: 370px;
    }

    .season__game {
        margin-left: 120px;
    }

    .section__memory {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        padding-top: 300px;
        margin-left: -104px;
    }

    .memory__item {
        display: flex;
        align-items: center;
    }

    .memory__title {
        font-size: 32px;
    }

    .memory__text {
        font-size: 14px;
        text-align: center;
        max-width: 343px;
    }

    .puzzles__item {
        margin-left: -104px;
    }

    .puzzles__title {
        font-size: 32px;
    }

    .puzzles__text {
        font-size: 14px;
    }
}