@media (max-width: 767px) {

    .top {
        display: flex;
        align-items: center;
    }

    .title {
        font-size: 32px;
        text-align: center;
    }

    .text {
        font-size: 14px;
        text-align: center;
    }

    .section__season {
        height: 654px;
        flex-direction: column;
        align-items: center;
        padding-top: 52px;
    }

    .season__item {
        display: flex;
        align-items: center;
        padding-top: 0;
    }

    .season__title {
        font-size: 32px;
        font-weight: 700;
    }

    .season__text {
        font-size: 14px;
        text-align: center;
        max-width: 370px;
    }

    .section__memory {
        height: 600px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .memory__item {
        display: flex;
        align-items: center;
    }

    .memory__title {
        font-size: 32px;
    }

    .memory__text {
        font-size: 14px;
        text-align: center;
        max-width: 343px;
    }

    .section__puzzles {
        // align-items: center;
        padding-top: 52px;
    }

    .puzzles__item {
        justify-content: normal;
    }

    .puzzles__title {
        font-size: 32px;
    }

    .puzzles__text {
        font-size: 14px;
    }
}