input,
button,
select {
  font-family: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.top {
  height: 1024px;
  background-image: url(img/top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  padding-top: 205px;
  padding-left: 120px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.title {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 788.78px;
}

.text {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  max-width: 481px;
  margin-top: 18px;
}

.button {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 30px;
  background: #9C0332;
  width: 234.063px;
  height: 48.603px;
  margin-top: 44px;
}

.button:hover {
  cursor: url(img/vector.png), auto;
}

.section__game {
  background-image: url(img/section_game.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  padding-top: 128px;
  padding-left: 120px;
}

.game__img-1 {
  background-image: url(img/game_1.jpg);
}

.game__img-2 {
  background-image: url(img/game_2.jpg);
}

.game__img-3 {
  background-image: url(img/game_3.jpg);
}

.game__img {
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 377px;
  width: 100%;
  aspect-ratio: 378/300;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 32px;
  padding-left: 32px;
}

.game__img:hover {
  cursor: url(img/vector.png), auto;
}

.section__season {
  height: 800px;
  background-image: url(img/season.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 135px;
  padding-top: 233.56px;
}

.season__item {
  padding-top: 48.44px;
  padding-left: 120px;
  width: 584px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.season__title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}

.season__text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
}

.season__button {
  border-radius: 30px;
  background: rgb(156, 3, 50);
  width: 234.06px;
  height: 48.6px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.season__game {
  position: absolute;
  max-width: 485px;
  width: 100%;
  aspect-ratio: 485/333;
}

.section__memory {
  background-image: url(img/memory.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 135px;
  padding-left: 120px;
}

.memory__game {
  max-width: 481px;
  width: 100%;
  aspect-ratio: 481/322;
}

.memory__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.memory__title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}

.memory__text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  max-width: 588px;
}

.memory__button {
  width: 240.44px;
  height: 48.6px;
  border-radius: 30px;
  background: rgb(156, 3, 50);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
}

.section__puzzles {
  background-image: url(img/puzzles.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 120px;
}

.puzzles__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.puzzles__title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 700;
}

.puzzles__text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  max-width: 1200px;
}

.puzzles__button {
  border-radius: 30px;
  background: rgb(156, 3, 50);
  width: 234.06px;
  height: 48.6px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
}

.footer {
  background-image: url(img/footer.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .header {
    margin-left: -104px;
    display: flex;
    align-items: center;
  }
  .title {
    font-size: 32px;
    text-align: center;
  }
  .text {
    font-size: 14px;
    text-align: center;
  }
  .section__game {
    margin-left: -104px;
  }
  .section__season {
    margin-left: -104px;
    height: 653.61px;
  }
  .season__item {
    display: flex;
    align-items: center;
    margin-top: -48.44px;
  }
  .season__title {
    font-size: 32px;
    font-weight: 700;
  }
  .season__text {
    font-size: 14px;
    text-align: center;
    max-width: 370px;
  }
  .season__game {
    margin-left: 120px;
  }
  .section__memory {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 300px;
    margin-left: -104px;
  }
  .memory__item {
    display: flex;
    align-items: center;
  }
  .memory__title {
    font-size: 32px;
  }
  .memory__text {
    font-size: 14px;
    text-align: center;
    max-width: 343px;
  }
  .puzzles__item {
    margin-left: -104px;
  }
  .puzzles__title {
    font-size: 32px;
  }
  .puzzles__text {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */