
input,
button,
select {
  font-family: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.top {
  height: 1024px;
  background-image: url(img/top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}

.header {
  padding-top: 205px;
  padding-left: 120px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.title {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 788.78px;
}

.text {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  width: 481px;
  margin-top: 18px;
}

.button {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 30px;
  background: #9C0332;
  width: 234.063px;
  height: 48.603px;
  margin-top: 44px;
}

.button:hover {
  cursor: url(img/vector.png), auto;
}

.center {
  background-image: url(img/center.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.center__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  padding-top: 128px;
  padding-left: 120px;
}

.center__img-1 {
  background-image: url(img/game_1.jpg);
}

.center__img-2 {
  background-image: url(img/game_2.jpg);
}

.center__img-3 {
  background-image: url(img/game_3.jpg);
}

.center__img {
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 377px;
  width: 100%;
  aspect-ratio: 378/300;
  // height: 300px; 
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 32px;
  padding-left: 32px;
}

.center__img:hover {
  cursor: url(img/vector.png), auto;
}

.footer {
  height: 800px;
  background-image: url(img/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 135px;
  padding-top: 233.56px;
}

.footer__item {
  padding-top: 48.44px;
  padding-left: 120px;
  width: 584px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.footer__title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}

.footer__text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
}

.footer__button {
  border-radius: 30px;
  background: rgb(156, 3, 50);
  width: 234.06px;
  height: 48.6px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.footer__button:hover {
  cursor: url(img/vector.png), auto;
}

@import 'mobile';
